In [21]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [22]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2021-05-26 03:58:20,-0.6000,73.0833,84.16,66,100,21.74
1,1,Ifo,NG,2021-05-26 04:03:04,6.8144,3.1958,77.11,93,100,4.14
2,2,Vaini,TO,2021-05-26 04:03:04,-21.2000,-175.2000,68.16,100,90,13.80
3,3,Mesyagutovo,RU,2021-05-26 04:03:05,55.5303,58.2528,58.53,65,72,11.32
4,4,Caraballeda,VE,2021-05-26 04:03:05,10.6112,-66.8522,79.38,80,54,9.04

In [23]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [27]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [42]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2021-05-26 03:58:20,-0.6000,73.0833,84.16,66,100,21.74
1,1,Ifo,NG,2021-05-26 04:03:04,6.8144,3.1958,77.11,93,100,4.14
4,4,Caraballeda,VE,2021-05-26 04:03:05,10.6112,-66.8522,79.38,80,54,9.04
9,9,Carnarvon,AU,2021-05-26 04:03:07,-24.8667,113.6333,75.34,41,100,13.42
11,11,Hilo,US,2021-05-26 04:03:07,19.7297,-155.0900,77.79,85,90,6.91
17,17,Redcliffe,AU,2021-05-26 04:03:10,-27.2307,153.0973,80.15,56,20,1.88
19,19,Kochki,RU,2021-05-26 04:03:11,54.3358,80.4806,79.74,55,28,5.23
23,23,Jamestown,US,2021-05-26 04:03:12,42.0970,-79.2353,76.59,68,1,8.05
30,30,Meulaboh,ID,2021-05-26 04:03:15,4.1363,96.1285,86.54,64,73,6.46
31,31,Butaritari,KI,2021-05-26 03:58:15,3.0707,172.7902,81.91,77,100,16.40

In [43]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0     Hithadhoo      MV     84.16  -0.6000   73.0833
1           Ifo      NG     77.11   6.8144    3.1958
4   Caraballeda      VE     79.38  10.6112  -66.8522
9     Carnarvon      AU     75.34 -24.8667  113.6333
11         Hilo      US     77.79  19.7297 -155.0900
17    Redcliffe      AU     80.15 -27.2307  153.0973
19       Kochki      RU     79.74  54.3358   80.4806
23    Jamestown      US     76.59  42.0970  -79.2353
30     Meulaboh      ID     86.54   4.1363   96.1285
31   Butaritari      KI     81.91   3.0707  172.7902

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hithadhoo,MV,84.16,-0.6000,73.0833,Scoop Guest House
1,Ifo,NG,77.11,6.8144,3.1958,Footed Hotel and Suites
4,Caraballeda,VE,79.38,10.6112,-66.8522,Hotel 15 Letras
9,Carnarvon,AU,75.34,-24.8667,113.6333,Hospitality Carnarvon
11,Hilo,US,77.79,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Redcliffe,AU,80.15,-27.2307,153.0973,Redvue Apartments
19,Kochki,RU,79.74,54.3358,80.4806,Гостиница «Малина»
23,Jamestown,US,76.59,42.0970,-79.2353,Hampton Inn & Suites Jamestown
30,Meulaboh,ID,86.54,4.1363,96.1285,Kost Pria
31,Butaritari,KI,81.91,3.0707,172.7902,Isles Sunset Lodge

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))